body {
  margin: 0;
  padding: 0;
  animation-name: animate;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes animate {
  0% {
    position: relative;
    bottom: 1000px;
  }
  100% {
    position: relative;
    bottom: 0;
  }
}
#home-section {
  width: 250px;
  height: 450px;
  color: rgb(0, 0, 0);
  padding-top: 10px;
  padding-left: 12px;
  overflow: hidden;
  background-color: rgb(245, 250, 252);
}

.eg {
  visibility: hidden;
}
#dictHeading {
  font-weight: 500;
}
em {
  font-weight: 400;
  color: rgb(0, 0, 0);
}
.overlay {
  visibility: visible;
}
.popup {
  overflow: scroll;
  background: #fff;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: rgb(3, 26, 75);
  visibility: hidden;
  margin-right: 12px;
  font-weight: 500;
  padding: 4%;
  position: relative;
  bottom: 400px;
  max-height: 380px;
  line-height: 20px;
}
::-webkit-scrollbar {
  width: 0px;
}
.back {
  font-size: larger;
  text-align: center;
}
.search-container {
  position: absolute;
  top: 7px;
  width: 220px;
  background: #89abe3ff;
  height: 26px;
  border-radius: 30px;
  padding: 10px 10px;
  display: flex;
  justify-content: right;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
}
::placeholder {
  color: rgba(20, 20, 20, 0.849);
}
input {
  color: #000000;
}
.search-container:hover > .search-input {
  width: 173px;
}
.search-container .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 14px;
  transition: 0.8s;
}
.search-container .search-btn .fas {
  color: #89abe3ff;
}
table {
  margin-top: -11px;
  position: relative;
  right: 8px;
}
#news-txt {
  position: relative;
  color: black;
  margin-top: 35px;
  font-weight: 500;
  font-size: 14px;
  padding-left: 4px;
}
th {
  padding: 5px;
}
th:hover {
  position: relative;
  bottom: 4px;
}
.news-img {
  width: 100px;
  border-radius: 7px;
}
#app-txt {
  position: relative;
  color: rgb(0, 0, 0);
  font-style: bold;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
  padding-left: 5px;
}
.app-img {
  width: 100%;
  height: 100%;
}
.setting {
  margin-top: 23px;
  display: flex;
  justify-content: center;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
  right: 13px;
}

.dd-button {
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  padding: 10px 30px 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  left: 25px;
  width: 200px;
  top: 100%;
  border-radius: 7px;
  color: rgb(0, 0, 0);
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 4px 3px 4px #a4bce6;
  background-color: #aec9f8;
  list-style-type: none;
}
.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  cursor: pointer;
  white-space: nowrap;
}
.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

.app-table {
  margin-top: 4px;
  margin-left: 30px;
  margin-bottom: 15px;
  width: 180px;
  height: 150px;
}
td {
  padding-left: 8px;
  font-weight: 500;
  font-size: 11px;
}
.fa-moon {
  padding-right: 8px;
}


/* Quotes CSS */

.wrapper {
  height: 170px;
  width: 225px;
  overflow-x: scroll;
  background: #fff;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 5px 5px 1px;
}
.wrapperBox{
  visibility: hidden;
}
header,
.content :where(i, p, span) {
  color: #202842;
}
.wrapper header {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}
.content .quote-area {
  display: flex;
  justify-content: center;
}
.quote-area i {
  font-size: 7px;
}

.quote-area i:last-child {
  display: flex;
  margin: 0 0 1px 4px;
  align-items: flex-end;
}
.quote-area .quote {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  word-break: break-all;
}
.content .author {
  display: flex;
  font-size: 13px;
  margin-top: 5px;
  font-style: italic;
  justify-content: flex-end;
}
.author span:first-child {
  margin: -7px 5px 0 0;
}
.wrapper .buttons {
  border-top: 1px solid #ccc;
}
.buttons .features {
  display: flex;
  margin-top: 1px;
  align-items: center;
  justify-content: space-between;
}
.features ul {
  display: flex;
}
.features ul li {
  margin: 0 1px;
  height: 27px;
  width: 27px;
  display: flex;
  cursor: pointer;
  color: #5372f0;
  list-style: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid #5372f0;
  transition: all 0.3s ease;
}
.features ul li:first-child {
  margin-top: 10px;
  margin-left: -35px;
}
ul li:is(:hover, .active) {
  color: #fff;
  background: #5372f0;
}
ul .speech.active {
  pointer-events: none;
}
.buttons button {
  border: none;
  color: #fff;
  outline: none;
  font-size: 13px;
  cursor: pointer;
  padding: 4px 6px;
  border-radius: 30px;
  background: #5372f0;
}
.buttons button.loading {
  opacity: 0.7;
  pointer-events: none;
}
