* {
  margin: 0;
  padding: 0;
  /* position:relative;
      right:182px; */
}

section {
padding: 2%;
  height: 450px;
  width: 250px;
  background-color: rgb(22, 22, 22);
  text-align: center;
  color: white;
  
}
.reset{
align-self: center;
}
.tbl{
margin-top: 50px;
}
#stop-btn{
padding-left: 20px;
}
p{
font-size: medium;
font-weight: 500;

}
.time{
width:50px;
/* box-shadow: 2px 2px 2px 2px rgb(99, 93, 93); */
box-shadow: 1px 1px 1px 1px #888888;

}
.back{
  margin-top: 25%;
  text-align: center;
}
.back i{
  color: white;
}