* {
  margin: 0;
  padding: 0;
  /* position:relative;
      right:182px; */
}

body{
  animation-name: timer-slide;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

@keyframes timer-slide {
  from{
      position: relative;
      left: 500px;
  }
  to{
      position: relative;
      left: 0px;
  }
}

section {
  padding: 2%;
  height: 450px;
  width: 250px;
  background-color: aliceblue;
  text-align: center;
  
}
.reset{
align-self: center;
}
.tbl{
margin-top: 50px;
}
#stop-btn{
padding-left: 20px;
}
p{
font-size: medium;
font-weight: 500;

}
.time{
width:75px;
margin-left: -10px;

}
.back{
  margin-top: 25%;
  text-align: center;
}
.back i{
  color: black;
}
